# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*
replay_pid*

# Ignore specific files inside the data folder
data/*.ser
data/transaction_log.txt

# Allow books.csv and .gitkeep
!data/books.csv
!data/.gitkeep
